<div class="columns col-xl">
    <div class="column col-4"></div>
    <div class="column col-4 col-md-12">
        <h3>500 Server error</h3>
        {{#if validationErrors.length}}
        <div class="toast toast-error">
            {{validationErrors}}
        </div>
        {{/if}}
    </div>
    <div class="column col-4"></div>
</div>