<div class="columns col-xl">
    <div class="column col-4"></div>
    <div class="column col-4 col-md-12">
        {{#if errorCode}}
        <h3>{{errorCode}}</h3>
        {{else}}
        <h3>Error</h3>
        {{/if}}
        {{#if validationErrors.length}}
        <div class="toast toast-error">
            {{validationErrors}}
        </div>
        {{/if}}
    </div>
    <div class="column col-4"></div>
</div>