<div class="columns col-xl">
    <div class="column col-4"></div>
    <div class="column col-4 col-md-12">
        <h1>Login</h1>
        {{#if validationErrors.length}}
        <div class="toast toast-error">
            {{validationErrors}}
        </div>
        {{/if}}
        <form action="" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            {{#if username.length}}
            <div class="form-group">
                <label class="form-label" for="usernameInput">Username</label>
                <input class="form-input is-error" id="usernameInput" type="text" name="username" placeholder="Username" value="{{username}}" required>
            </div>
            {{else}}
            <div class="form-group">
                <label class="form-label" for="usernameInput">Username</label>
                <input class="form-input" id="usernameInput" type="text" name="username" placeholder="Username" required>
            </div>
            {{/if}}
            <div class="form-group">
                <label class="form-label" for="passwordInput">Password</label>
                <input class="form-input" id="passwordInput" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input class="form-submit column col-12 btn" type="submit" placeholder="Login" value="Login">
            </div>
        </form>
        <br>
        <div class="divider text-center" data-content="OR"></div>
        <br>
        <a href="/sign-up" class="btn column col-12">Create an Account</a>
    </div>
    <div class="column col-4"></div>
</div>