<div class="column">
    <div class="column col-11">
        <h3>If you press the button below you will be signed out</h3>
        <form action="" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-group">
                <input class="btn" type="submit" value="Logout">
            </div>
        </form>
    </div>
</div>