
<section class="columns">

    <div class="auth-container column col-4 col-mx-auto">
        <h1>Logout</h1>
        <p>Do you really want to logout?</p>

        <div class="divider"></div>
        
        <form action="" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-group">
                <div class="column col-2"></div>
                <input class="btn column col-12" type="submit" value="Logout">
                <div class="column col-2"></div>
            </div>
        </form>
    </div>

</section>