<div class="dashboard-wrapper columns">
    <div class="dashboard-inner column col-6">
        <h1>Dashboard</h1>

        <h3>Welcome <span class="text-bold">{{user}}</span></h3>

        <div class="divider"></div>

        <ul>
            <li><a href="/internships/create-advert">Create new advert</a></li>
            <li><a href="/dashboard/chats">Received messages</a></li>
            <li><a href="/internships/adverts">My posted adverts</a></li>
            <li><a href="/dashboard/edit">Edit profile information</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

        <div class="divider"></div>
    </div>

    <div class="dashboard-inner column col-5 col-ml-auto">
        <h1>News</h1>

        <h3>Not implemented.</h3>

        <div class="divider"></div>
    </div>

</div>
