<h3>Hello dashboard</h3>

<h3>{{user}}</h3>

<ul>
    <li><a href="/create-advert">Create advert</a></li>
    <li><a href="/chats">Received messages</a></li>
    <li><a href="/profile/update">Update profile info</a></li>
    <li><a href="/logout">logout</a></li>
</ul>